body{
    background-image: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
}
div.header{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}
p::first-letter{
    color: red;
    font-size: 200%;
}
p::first-line{
    color: blue;
}