.main{
    width: 300px;
    height: 135px;
    border: black solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
caption{
    color: red;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;;
}
.nums{
    direction: initial;
    text-align: right;    
}
td{
    text-align: left;
}