body{
    background-color: #f5f5f5;
}
.rightMenu{
    border-top: 1px dotted silver;
    width: 140px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    float: right;
}
p:hover{
    background-color: red;
    color: white;
}